openapi: 3.1.0
info:
  title: PingOne Platform Applications API
  description: 'PingOne is Ping Identity''s cloud-based identity and access management

    platform. The Platform API manages PingOne environments, populations,

    users, applications, identity providers, and authentication flows.

    Authentication uses OAuth 2.0 access tokens obtained from

    auth.pingone.com; the platform API base endpoint is api.pingone.com.

    '
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.pingone.com/v1
  description: PingOne Platform API
- url: https://auth.pingone.com
  description: PingOne Authentication service (token endpoint)
security:
- bearerAuth: []
tags:
- name: Applications
  description: Manage OIDC/SAML applications.
paths:
  /environments/{environmentId}/applications:
    parameters:
    - $ref: '#/components/parameters/EnvironmentId'
    get:
      tags:
      - Applications
      summary: Read all applications
      responses:
        '200':
          description: Application collection.
    post:
      tags:
      - Applications
      summary: Create application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '201':
          description: Application created.
  /environments/{environmentId}/applications/{applicationId}:
    parameters:
    - $ref: '#/components/parameters/EnvironmentId'
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Applications
      summary: Read one application
      responses:
        '200':
          description: Application.
    put:
      tags:
      - Applications
      summary: Update application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: Application updated.
    delete:
      tags:
      - Applications
      summary: Delete application
      responses:
        '204':
          description: Application deleted.
components:
  parameters:
    EnvironmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
      description: PingOne environment identifier.
    ApplicationId:
      name: applicationId
      in: path
      required: true
      schema:
        type: string
  schemas:
    Application:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        enabled:
          type: boolean
        protocol:
          type: string
          enum:
          - OPENID_CONNECT
          - SAML
          - WS_FED
        type:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 Bearer access token issued by the PingOne authentication

        service at auth.pingone.com.

        '
