openapi: 3.1.0
info:
  title: PingOne Platform Applications Environments API
  description: 'PingOne is Ping Identity''s cloud-based identity and access management

    platform. The Platform API manages PingOne environments, populations,

    users, applications, identity providers, and authentication flows.

    Authentication uses OAuth 2.0 access tokens obtained from

    auth.pingone.com; the platform API base endpoint is api.pingone.com.

    '
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.pingone.com/v1
  description: PingOne Platform API
- url: https://auth.pingone.com
  description: PingOne Authentication service (token endpoint)
security:
- bearerAuth: []
tags:
- name: Environments
  description: Manage PingOne environments.
paths:
  /environments:
    get:
      tags:
      - Environments
      summary: Read all environments
      responses:
        '200':
          description: Environment collection.
    post:
      tags:
      - Environments
      summary: Create environment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '201':
          description: Environment created.
  /environments/{environmentId}:
    parameters:
    - $ref: '#/components/parameters/EnvironmentId'
    get:
      tags:
      - Environments
      summary: Read one environment
      responses:
        '200':
          description: Environment.
    put:
      tags:
      - Environments
      summary: Update environment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '200':
          description: Environment updated.
    delete:
      tags:
      - Environments
      summary: Delete environment
      responses:
        '204':
          description: Environment deleted.
components:
  parameters:
    EnvironmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
      description: PingOne environment identifier.
  schemas:
    Environment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - PRODUCTION
          - SANDBOX
        region:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 Bearer access token issued by the PingOne authentication

        service at auth.pingone.com.

        '
