openapi: 3.1.0
info:
  title: PingOne Platform Applications Populations API
  description: 'PingOne is Ping Identity''s cloud-based identity and access management

    platform. The Platform API manages PingOne environments, populations,

    users, applications, identity providers, and authentication flows.

    Authentication uses OAuth 2.0 access tokens obtained from

    auth.pingone.com; the platform API base endpoint is api.pingone.com.

    '
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.pingone.com/v1
  description: PingOne Platform API
- url: https://auth.pingone.com
  description: PingOne Authentication service (token endpoint)
security:
- bearerAuth: []
tags:
- name: Populations
  description: Manage user populations inside an environment.
paths:
  /environments/{environmentId}/populations:
    parameters:
    - $ref: '#/components/parameters/EnvironmentId'
    get:
      tags:
      - Populations
      summary: Read populations
      responses:
        '200':
          description: Population collection.
    post:
      tags:
      - Populations
      summary: Create a population
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Population'
      responses:
        '201':
          description: Population created.
components:
  parameters:
    EnvironmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
      description: PingOne environment identifier.
  schemas:
    Population:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 Bearer access token issued by the PingOne authentication

        service at auth.pingone.com.

        '
